<!DOCTYPE html>
<html>
  <head>
    <title>Demo App</title>
    <link rel="stylesheet" type="text/css" href="/app.css">
  </head>
  <body>
	  <!--- / is very important, / means to find app.css in the root directory, not the same directory where the template is in --->